# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Producción
/www
/platforms
/android
/ios
/electron
/dist

# Archivos de ambiente (considera si quieres excluirlos)
# /src/environments/*.ts

# IDEs y editores
/.idea
/.vscode
/.ionic
/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Sistema operativo
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Firebase
.firebase/
firebase-debug.log

# Capacitor
capacitor.config.json
capacitor.config.ts