h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
  .error-message {
    color: var(--ion-color-danger);
    font-size: 0.8rem;
    margin: 0.2rem 0 1rem 1rem;
  }
  